pkgbase = nvidia-vgpu-18-utils
	pkgver = 570.148.06
	pkgrel = 1
	url = https://www.nvidia.com/
	arch = x86_64
	license = custom:proprietary
	provides = nvidia-utils
	conflicts = nvidia-utils
	options = !strip
	source = NVIDIA-Linux-x86_64-570.148.06-vgpu-kvm.run
	sha256sums = fedcb2fca8bdb80ade416d113c0b31a8fbc33ebf4c8cfb1fcc5325023db0fd45

pkgname = nvidia-vgpu-18-utils
	pkgdesc = NVIDIA vGPU drivers utilities v18
